<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="board">
<!--
  		SELECT * 
		FROM (SELECT ROWNUM no, n.*, (SELECT mid FROM member WHERE mid = #{mid}) name
				FROM (SELECT * FROM board<include refid="search_where" /> ORDER BY ref, rstep DESC) n
				ORDER BY bno DESC) n 
		WHERE bno BETWEEN #{beginList} and #{endList}
 -->
<!-- 전체 게시글 -->
	<select id="selectList" resultType="BoardDto">
		SELECT * FROM board ORDER BY ref desc, rstep asc
	</select>

<!-- 상세 게시글 -->	
	<select id="selectOne" resultType="BoardDto" parameterType="_int">
		<!-- select * from board where bno=#{bno} order by BREF desc, BRE_STEP asc -->
		SELECT n.*, (SELECT mname FROM member m WHERE m.mid = n.mid) name FROM board n WHERE bno=#{bno }
	</select>
	
<!-- 게시글 등록 -->	
	<insert id="insert" parameterType="BoardDto">
		<selectKey keyProperty="bno" resultType="_int" order="BEFORE">
		select SEQ_BOARD_BNO.nextval nextval from dual
		</selectKey>
		INSERT INTO board VALUES (#{bno}, #{btitle }, #{bcontent }, #{mid }, default, default, #{bno }, 0, 0)
 	</insert>

<!-- 글 수정 -->	
	<update id="update" parameterType="BoardDto">
		update BOARD set btitle=#{btitle}, bcontent=#{bcontent} where bno=#{bno}
	</update>
	
<!-- 글 삭제 -->	
	<delete id="delete" parameterType="_int">
		delete from board where bno=#{bno}
	</delete>

<!-- 게시판 조회수 -->
	<update id="boardReadCnt" parameterType="_int">
		update board set readcnt = readcnt + 1 where bno = #{bno}
	</update>

<!-- 좋아요 기능! -->	 
	<!-- 좋아요 눌럿는지 안눌럿는지 --> 
	<select id="findLike" resultType="_int">
		select count(*) from board_like where bno = #{bno} and mid = #{mid}
	</select>
	
	<!-- 좋아요 -->
	<insert id="likeUp">
		insert into board_like (like_no , bno , mid, freeboard_like, like_type)
		values((select * from (select max(like_no)+1 from board_like) next), #{bno},#{mid},1,#{like_type})
	</insert>
	
    <!-- 좋아요 불러오기 -->  
    <select id="getLike" resultType="_int">
   		select count(*) from board_like where bno = #{bno} and like_type = #{like_type}
    </select>
	
	<!-- 좋아요 취소 -->	
    <delete id="likeDown">
  		delete from board_like where bno = #{bno} and mid = #{mid}  and like_type = #{like_type}
    </delete>

<!-- 답글 목록 -->
<!-- 	
	<select id="selectReply" resultType="BoardDto">
	    select * from board where ref = #{bno} order by rstep ASC, rlevel ASC
	</select> 
-->

<!-- 답글달기 -->
<!-- 댓글 삽입 -->
<!-- 
	<insert id="reply_insert" parameterType="BoardDto">
    	BoardDto에서 원본 글의 번호 가져오기
    <selectKey keyProperty="bno" resultType="java.lang.Integer" order="BEFORE">
        SELECT SEQ_BOARD_BNO.nextval nextval FROM dual
    </selectKey>
    	댓글 삽입
    INSERT INTO BOARD VALUES (
        #{bno}, #{btitle}, #{bcontent}, #{mid},
        SYSTIMESTAMP, 0, #{filename, jdbcType=VARCHAR}, #{filepath, jdbcType=VARCHAR},
        #{bno}, (SELECT MAX(RSTEP) + 1 FROM BOARD WHERE REF = #{bno}),
        (SELECT MAX(RLEVEL) + 1 FROM BOARD WHERE REF = #{bno})
    )
</insert> 
-->
</mapper>
